<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include 'navbar.html'%}

    {% block content %}

    {% endblock %}
    <!-- Hero Banner -->
<!-- <div class="hero">
    <h3 class="display-1 fw-bold">Style That Speaks</h3>
</div> -->

<!-- Products Section -->
<div class="container my-5">
    <h2 class="text-center mb-4">New Arrivals</h2>

    <div class="row g-4">

        <!-- Product 1 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/17035519/pexels-photo-17035519.png" class="card-img-top"  alt="Shirt">
                <div class="card-body text-center">
                    <h5 class="card-title">Men's Classic Shirt</h5>
                    <p class="card-text">₹799</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
        </div>
                <!-- Product 2 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/6109827/pexels-photo-6109827.jpeg" class="card-img-top" alt="Jeans">
                <div class="card-body text-center">
                    <h5 class="card-title">Denim Jeans</h5>
                    <p class="card-text">₹1199</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/15369352/pexels-photo-15369352.jpeg" class="card-img-top" alt="T-shirt">
                <div class="card-body text-center">
                    <h5 class="card-title">Printed T-Shirt</h5>
                    <p class="card-text">₹599</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container my-5">
    <div class="row g-4">

        <!-- 1 - Trendy Baggy Pants -->
        <div class="col-md-3">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/33055598/pexels-photo-33055598.jpeg" class="card-img-top" alt="Baggy Pants">
                <div class="card-body text-center">
                    <h5 class="card-title">Trendy Baggy Pants</h5>
                    <p class="card-text">₹999</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>

        <!-- 2 - Mom Fit Jeans -->
        <div class="col-md-3">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/3822943/pexels-photo-3822943.png" class="card-img-top" alt="Mom Fit Jeans">
                <div class="card-body text-center">
                    <h5 class="card-title">Mom Fit Jeans</h5>
                    <p class="card-text">₹1299</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>

        <!-- 3 - Baggy Shirt -->
        <div class="col-md-3">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/28865419/pexels-photo-28865419.jpeg" class="card-img-top" alt="Baggy Shirt">
                <div class="card-body text-center">
                    <h5 class="card-title">Baggy Shirt</h5>
                    <p class="card-text">₹799</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>

        <!-- 4 - Oversized Hoodie -->
        <div class="col-md-3">
            <div class="card product-card">
                <img src="https://images.pexels.com/photos/4065842/pexels-photo-4065842.jpeg" class="card-img-top" alt="Hoodie">
                <div class="card-body text-center">
                    <h5 class="card-title">Oversized Hoodie</h5>
                    <p class="card-text">₹1499</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Footer -->
<footer class="bg-dark text-light text-center py-3">
    <p class="mb-0">© 2025 Men’s Fashion Store · All Rights Reserved</p>
</footer>

</body>

</html>